@model StoreFront.DATA.EF.BooksTable

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>BooksTable</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.BooksTitle)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BooksTitle)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UnitsSold)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UnitsSold)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PublishDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PublishDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CategoryID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CategoryID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AuthorTable.FName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AuthorTable.FName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GenreIDTable.GenreType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GenreIDTable.GenreType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Publisher1.PublisherName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Publisher1.PublisherName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Stock.StockType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Stock.StockType)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.BookID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
