@model IEnumerable<StoreFront.DATA.EF.BooksTable>

@{
    ViewBag.Title = "Books";
}

<h2>@ViewBag.Title</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.BooksTitle)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UnitsSold)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PublishDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CategoryID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AuthorTable.FName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GenreIDTable.GenreType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Publisher1.PublisherName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Stock.StockType)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.BooksTitle)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Price)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UnitsSold)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PublishDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CategoryID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AuthorTable.FName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GenreIDTable.GenreType)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Publisher1.PublisherName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Stock.StockType)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.BookID }) |
            @Html.ActionLink("Details", "Details", new { id=item.BookID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.BookID })
        </td>
    </tr>
}

</table>
